# Database Connections

Send a query as a string to one of the databases: tppe, lpss or tpint.

In [1]:
import db_connect as db

## TPPE

In [2]:
def cp_query(pr_num, rev_num):
    
    selectstr1 = "(select distinct F.name as CustomerName, F.Customerid, B.name as LDC_Account, B.Accountid,"
    selectstr1 = "".join([selectstr1, "D.uidaccount, D.marketcode, A.Contractid, A.Revision "])
    selectstr1 = "".join([selectstr1, "from pwrline.account B, pwrline.lscmcontract A, pwrline.lscmcontractitem C, "])
    selectstr1 = "".join([selectstr1, "pwrline.acctservicehist D, pwrline.customer F "])
    selectstr1 = "".join([selectstr1, "where C.uidcontract=A.uidcontract and C.uidaccount=B.uidaccount and B.uidaccount=D.uidaccount "])
    selectstr1 = "".join([selectstr1, "and B.uidcustomer=F.uidcustomer and A.contractid='", pr_num, "' and A.revision=", rev_num, ") A "])

    s2str = "select distinct A.*, B.starttime, B.stoptime, B.overridecode as Tag_Type, B.val as Tag, B.strval as SOURCE_TYPE, B.lstime as Timestamp "
    s2str = "".join([s2str, "from pwrline.acctoverridehist B, ", selectstr1])
    s2str = "".join([s2str, "where A.uidaccount=B.uidaccount and (A.marketcode='PJM' OR  A.marketcode='NEPOOL' OR A.marketcode= 'NYISO' OR A.marketcode= 'MISO') "])
    s2str = "".join([s2str, "and (B.overridecode ='TRANSMISSION_TAG_OVRD' OR B.overridecode='CAPACITY_TAG_OVRD') "])
    s2str = "".join([s2str, "order by A.customername, B.overridecode, A.accountid, B.starttime"])

    return(s2str)

cap_tags = cp_query('1-LABBU6', '1')

In [3]:
tag_report = db.OracleAPI(cap_tags, 'tppe')

DatabaseError: ORA-12170: TNS:Connect timeout occurred

In [4]:
tag_report

,CUSTOMERNAME,CUSTOMERID,LDC_ACCOUNT,ACCOUNTID,UIDACCOUNT,MARKETCODE,CONTRACTID,REVISION,STARTTIME,STOPTIME,TAG_TYPE,TAG,SOURCE_TYPE,TIMESTAMP
0,PIEDMONT 5 WALL STREET BURLINGTON LLC,1-72QKQ3,28174700022,NEPOOL_BECO_28174700022,997500,NEPOOL,1-LABBU6,1,2014-06-01,2015-05-31 23:59:59,CAPACITY_TAG_OVRD,929.054,H,2019-09-27 12:15:02
1,PIEDMONT 5 WALL STREET BURLINGTON LLC,1-72QKQ3,28174700022,NEPOOL_BECO_28174700022,997500,NEPOOL,1-LABBU6,1,2016-06-01,2017-05-31 23:59:59,CAPACITY_TAG_OVRD,869.525,H,2019-09-27 12:15:02
2,PIEDMONT 5 WALL STREET BURLINGTON LLC,1-72QKQ3,28174700022,NEPOOL_BECO_28174700022,997500,NEPOOL,1-LABBU6,1,2017-06-01,2019-05-31 23:59:59,CAPACITY_TAG_OVRD,869.525,S,2019-09-27 12:15:02
3,PIEDMONT 5 WALL STREET BURLINGTON LLC,1-72QKQ3,28174700022,NEPOOL_BECO_28174700022,997500,NEPOOL,1-LABBU6,1,2019-06-01,2020-05-31 23:59:59,CAPACITY_TAG_OVRD,941.816,H,2019-09-30 14:15:18
4,PIEDMONT 5 WALL STREET BURLINGTON LLC,1-72QKQ3,28174700022,NEPOOL_BECO_28174700022,997500,NEPOOL,1-LABBU6,1,2020-06-01,2021-05-31 23:59:59,CAPACITY_TAG_OVRD,941.816,S,2019-09-30 14:15:18
5,PIEDMONT 5 WALL STREET BURLINGTON LLC,1-72QKQ3,28174700022,NEPOOL_BECO_28174700022,997500,NEPOOL,1-LABBU6,1,2021-06-01,2031-05-31 23:59:59,CAPACITY_TAG_OVRD,941.816,S,2019-09-30 14:15:18

## LPSS

In [5]:
intdb = "select * from m_lpss_pc_rc"

In [6]:
intdb_out = db.OracleAPI(intdb, 'tpint')

done with 1000.
done with 2000.
done with 3000.
done with 4000.
done with 5000.
done with 6000.
done with 7000.
finished with 7585 results, outputting dataframe.

In [7]:
intdb_out.head()

,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
0,10001,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,1,N
1,10002,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,2,N
2,10003,ERCOT,CPT,None,ERCOT_BUS,IDR,E,PRIMARY,TX,0.0,3,N
3,10004,ERCOT,CPT,None,ERCOT_BUS,IDR,T,TRANSMISSION,TX,0.0,4,N
4,10005,ERCOT,CPT,None,ERCOT_BUS,IDR,D,SECONDARY,TX,0.0,5,Y

In [8]:
intdb_out.tail()

,ESG_SOURCEID,MARKET,DISCO_CODE,PROFILE_CLASS,RATE_CLASS,METER_TYPE,LOSS_CODE,LOSS_DESCRIPTION,STATE,RES_FLAG,SEQ_ID,DEFAULT_FLAG
7580,54552,PJM,APSPA,GSCS_IDR,WP-GP30SHF,IDR,SECONDARY,WP_SEC,PA,0.0,9602,Y
7581,54553,PJM,PEPCODC,RDNS,50,IDR,MMA1,None,DC,0.0,9603,Y
7582,54554,NYISO,CONED,SC9_200_1500_AVG_SUMMER_KW,SC9,SCALAR,SECONDARY,None,NY,0.0,9604,Y
7583,54555,NYISO,CONED,SC51_47542_122555_ANNUAL_KWHR,SC51,SCALAR,SECONDARY,None,NY,0.0,9605,Y
7584,54556,NYISO,CONED,SC29_70_200_AVG_SUMMER_KW,SC29,SCALAR,SECONDARY,None,NY,0.0,9606,Y

# TPINT

In [9]:
queue = '''select 
 pr.quote_num "Pricing Request #",
pr.rev_num "Revision #",
PR.ACTIVE_FLG "Active",  
 pr.name "Pricing Request", 
  pr.created "PR Created", 
 pr.X_NO_OF_METERS_EST "Est. Meters",
acc.MARKET_CLASS_CD "Segmentation",
o.X_MAX_DEMAND "Max Demand (MW)",
acc.X_KEY_ACCOUNT_FLG "Key Account",
(select login from s_user@tpsbl usr, s_postn@tpsbl pos where pos.row_id = pr.SALES_REP_POSTN_ID and pos.pr_emp_id = usr.row_id) "PR Sales Rep", 
 pr.X_STATE "State",
pr.SUBTYPE_CD "PR Type",
pr.X_MARKET "Market",
stg.Name "Opportunity Sales Stage",
pr.OUT_DUE_DT "PR SLA Due Date",
acc.name "Legal Contracting Entity",
o.name "Opportunity",
pr.X_EST_MAX_DEMAND "Est. Demand (MWh)", 
  (select login from s_user@tpsbl usr where usr.row_id = pr.X_LOAD_ANALYST_ID ) "Load Analyst",
o.CHANNEL_TYPE_CD "Channel Type", 
 partner.alias_name "Channel Partner",
pr.X_PR_REQ_BY_DATE "PR Req By Date",
pr.EXCH_DT "Bid Due Date", 
 pr.HIST_AMT_DT "Bid Receipt Date",
(trunc(pr.EXCH_DT)-trunc(pr.HIST_AMT_DT))-2*FLOOR((trunc(pr.EXCH_DT)-trunc(pr.HIST_AMT_DT))/7)-DECODE(SIGN(TO_CHAR(trunc(pr.EXCH_DT),'D')-
        TO_CHAR(trunc(pr.HIST_AMT_DT),'D')),-1,2,0)+DECODE(TO_CHAR(trunc(pr.HIST_AMT_DT),'D'),7,1,0)-
        DECODE(TO_CHAR(trunc(pr.EXCH_DT),'D'),7,1,0)+1 as WorkDays,
pr.X_NON_EXECUTABLE_FLG "Non Executable Flag",
pr.VERIFY_DT "Loaded To PE On",
o.X_PROD_EXCEPTION_STATUS "Product Exception",
pr.X_NOTES "Notes",
pr.X_CONFIRM_TEXT "Load Analytics - Supply Notes",
qx.X_ATTRIB_53 "Off-Ramp Flag", 
 qx.X_ATTRIB_51 "EXP Flag",
decode( sign( trunc(pr.EXCH_DT) - decode(pr.active_flg, 'Y', NVL(trunc(act2.TODO_ACTL_END_DT), trunc(sysdate)), trunc(act2.TODO_ACTL_END_DT))) ,  -1, 'N', decode( sign( trunc(pr.EXCH_DT) - decode(pr.active_flg, 'Y', NVL(trunc(act2.TODO_ACTL_END_DT), trunc(sysdate)), trunc(act2.TODO_ACTL_END_DT))),'1', decode(act2.TODO_ACTL_END_DT, '', '', 'Y'), decode(act2.TODO_ACTL_END_DT, '', '', 'Y')))  "Met Bid Due Date",
  mml.utilitylist "PR Utilities",
trunc(pr.EXCH_DT) - trunc(pr.created) "Lead Time",
decode(act2.TODO_ACTL_END_DT, '', trunc(pr.EXCH_DT) -  trunc(sysdate), 0) "Days to Bid Due Date",
pr.rev_dt "Revision 1 Created",
act1.created "Gather Usage Created", act1.evt_stat_cd "Gather Usage Status",  act1.TODO_ACTL_END_DT "Gather Usage Completed" ,
act5.TODO_ACTL_END_DT "Load Analytic Created" , act5.evt_stat_cd "Load Analytic Status",   act5.TODO_ACTL_END_DT "Load Analytic Completed", 
act6.TODO_ACTL_END_DT "Sales Response Created" , act6.evt_stat_cd "Sales Response Status",   act6.TODO_ACTL_END_DT "Sales Response Completed", 
 pr.PRICING_DT "MML validated Date",
act3.TODO_ACTL_END_DT "Load Data Created" , act3.evt_stat_cd "Load Data Status",   act3.TODO_ACTL_END_DT "Load Data Completed",
act4.created "Escalation Started", act4.evt_stat_cd "Escalation Status", act4.TODO_ACTL_END_DT "Escalation Completed", 
 act2.created "Initial Pricing Started", act2.evt_stat_cd "Initial Pricing Status", act2.TODO_ACTL_END_DT "Initial Pricing Completed",  
 o.SUM_UPSIDE_AMT "ATCV",
metercount "Total Meter ID Count",
hu_requestcomplete_count + hu_datareceived_count "Count of HU Requested",
hu_datareceived_count "Count of HU Data Received",
hi_requestcomplete_count + hi_datareceived_count "Count of HI Requested",
hi_datareceived_count "Count of HI Data Received",
  decode(acc.X_KEY_ACCOUNT_FLG, 'Y', (select login from s_user@tpsbl usr, s_postn@tpsbl pos where pos.row_id = acc.pr_postn_id and pos.pr_emp_id = usr.row_id), '') "KAG Rep",
o.X_ANNUAL_USAGE "Annual Volume",
decode(decode( act2.created, '', 0, 10), 10, 10, decode(pr.PRICING_DT, '', 0, 10))+decode( act2.created, '', 0, 10) +   decode( act2.TODO_ACTL_END_DT, '', 0, 10) "Tracker Status"
from siebel.s_doc_quote@tpsbl pr, 
      siebel.s_evt_act@tpsbl act1, 
      siebel.s_evt_act@tpsbl act2, 
      siebel.s_evt_act@tpsbl act3,
      siebel.s_evt_act@tpsbl act4,
      siebel.s_evt_act@tpsbl act5,
      siebel.s_evt_act@tpsbl act6,
      siebel.s_opty@tpsbl o,
      siebel.s_org_ext@tpsbl acc,     
      siebel.s_doc_quote_x@tpsbl qx,
      siebel.s_stg@tpsbl stg,
      siebel.s_org_ext@tpsbl Partner,
      (select sbl_quote_id,
                      f_GetAggReportValue(sbl_quote_id,'UTILITYLIST') utilitylist,
                      f_GetAggReportValue(sbl_quote_id,'METERCOUNT') metercount,
                      f_GetAggReportValue(sbl_quote_id,'SCA_REQUEST_COMPLETE') hu_requestcomplete_count,
                      f_GetAggReportValue(sbl_quote_id,'SCA_DATA_RECEIVED') hu_datareceived_count,
                      f_GetAggReportValue(sbl_quote_id,'IDR_REQUEST_COMPLETE') hi_requestcomplete_count,
                      f_GetAggReportValue(sbl_quote_id,'IDR_DATA_RECEIVED') hi_datareceived_count
                      from alps_mml_pr_header) mml
where pr.row_id = act1.quote_id(+) and 
           act1.TODO_CD(+)= 'Gather Usage Data' and
           pr.row_id = act2.quote_id(+)  and 
           act2.TODO_CD (+) = 'Perform Initial Pricing' and 
           pr.row_id = act3.quote_id(+)  and 
           act3.TODO_CD (+) = 'Load Data and Perform VEE' and
           pr.row_id = act4.quote_id(+)  and 
           act4.TODO_CD (+) = 'Escalation Request'        
         and pr.row_id = act5.quote_id(+) 
         and act5.TODO_CD (+) = 'Load Analytic'       
         and pr.row_id = act6.quote_id(+)
         and act6.TODO_CD (+) = 'Pending Sales Response'      
           and O.CURR_STG_ID = stg.row_id
           and o.PR_PRTNR_ID = partner.row_id (+)
           and acc.row_id = O.PR_DEPT_OU_ID
           and o.row_id = pr.opty_id     
           and pr.row_id = QX.PAR_ROW_ID (+) 
           and pr.row_id = mml.sbl_quote_id(+)
           and nvl(qx.x_attrib_51, 'N') <> 'Y'         
           and trunc(pr.hist_amt_dt) >= (select case when extract(month from sysdate) between 1 and 9 then add_months(trunc(sysdate,'year'),0)
                                                                else add_months(trunc(sysdate,'year'),0)
                                                                 end from dual)'''

In [10]:
queue_out = db.OracleAPI(queue, 'tpint')

done with 1000.
done with 2000.
done with 3000.
done with 4000.
done with 5000.
done with 6000.
done with 7000.
done with 8000.
done with 9000.
done with 10000.
done with 11000.
done with 12000.
done with 13000.
done with 14000.
done with 15000.
done with 16000.
done with 17000.
done with 18000.
done with 19000.
done with 20000.
finished with 20028 results, outputting dataframe.

In [11]:
queue_out.head()

,Pricing Request #,Revision #,Active,Pricing Request,PR Created,Est. Meters,Segmentation,Max Demand (MW),Key Account,PR Sales Rep,...,Initial Pricing Completed,ATCV,Total Meter ID Count,Count of HU Requested,Count of HU Data Received,Count of HI Requested,Count of HI Data Received,KAG Rep,Annual Volume,Tracker Status
0,1-JAP53H,1.0,Y,"J.C. PENNEY CORPORATION, INC._APS_5.20",2019-08-13 10:46:51,1,Platinum,0.200000,Y,BMURRAY,...,2019-08-15 15:53:31,64005.00,1,1.0,1,0.0,0,DBRUYERE,753,30
1,1-JAU56E,1.0,Y,"J.C. PENNEY CORPORATION, INC._BGE_8.19",2019-08-14 17:05:14,5,Platinum,1.300000,Y,BMURRAY,...,2019-08-20 10:49:14,548080.00,5,5.0,5,4.0,4,DBRUYERE,6448,30
2,1-JAWJBE,1.0,Y,"J.C. PENNEY CORPORATION, INC._PEPCO_6.20",2019-08-15 10:51:57,5,Platinum,1.200000,Y,BMURRAY,...,2019-08-20 09:27:13,513740.00,4,4.0,4,3.0,3,DBRUYERE,6044,30
3,1-JQH743,1.0,N,"J.C. PENNEY CORPORATION, INC._11.19",2019-09-18 10:58:08,8,Platinum,4.770000,Y,LTILTON,...,NaT,1591879.99,8,7.0,7,4.0,4,DBRUYERE,19522,10
4,1-IHDDT6,1.0,Y,DALTON SCHOOLS INC_CONED_3.19,2019-03-04 08:57:05,9,Bronze,0.630983,None,BRODRIGUEZ,...,2019-03-06 15:05:00,210000.00,9,9.0,9,1.0,1,None,2174,30

In [12]:
queue_out.tail()

,Pricing Request #,Revision #,Active,Pricing Request,PR Created,Est. Meters,Segmentation,Max Demand (MW),Key Account,PR Sales Rep,...,Initial Pricing Completed,ATCV,Total Meter ID Count,Count of HU Requested,Count of HU Data Received,Count of HI Requested,Count of HI Data Received,KAG Rep,Annual Volume,Tracker Status
20023,1-RS0U4N,1.0,Y,KEEPIN IT GRILL OPERATING LLC_ONCOR_4.2020_ERRPSA,2019-10-28 14:55:30,3,Bronze,0.0,None,CROBERT,...,NaT,0.0,3,3.0,3,0.0,0,None,0,10
20024,1-RS3IRL,1.0,Y,NEW ENGLAND DIE_MECO_Sprague 2019_ERS1PAD,2019-10-28 15:11:24,0,Bronze,0.0,None,CMOUREY,...,NaT,67000.0,1,1.0,0,0.0,0,None,800,10
20025,1-RS6ZCB,1.0,Y,"SHUTTERFLY, INC_ONCOR_DUMMY ACCT_1.2020_ERS37YT",2019-10-28 15:22:45,1,Bronze,0.0,None,JMAREK2,...,NaT,0.0,1,0.0,0,0.0,0,None,0,10
20026,1-RSVB5I,1.0,Y,EXALT REAL ESTATE GROUP LLC_AGG_CPT_4.23_EODXZVP,2019-10-29 08:36:14,3,Bronze,0.0,None,RBARRAGAN,...,NaT,0.0,3,2.0,2,0.0,0,None,0,10
20027,1-RX24CV,1.0,Y,"Beard Miner, LLC_DUKE_11.2019_590_ERAD9CD",2019-10-29 08:52:23,1,Bronze,0.0,None,KDEARBONNE,...,NaT,0.0,1,1.0,0,0.0,0,None,0,10

In [5]:
queue_out.columns

Index(['Pricing Request #', 'Revision #', 'Active', 'Pricing Request',
       'PR Created', 'Est. Meters', 'Segmentation', 'Max Demand (MW)',
       'Key Account', 'PR Sales Rep', 'State', 'PR Type', 'Market',
       'Opportunity Sales Stage', 'PR SLA Due Date',
       'Legal Contracting Entity', 'Opportunity', 'Est. Demand (MWh)',
       'Load Analyst', 'Channel Type', 'Channel Partner', 'PR Req By Date',
       'Bid Due Date', 'Bid Receipt Date', 'WORKDAYS', 'Non Executable Flag',
       'Loaded To PE On', 'Product Exception', 'Notes',
       'Load Analytics - Supply Notes', 'Off-Ramp Flag', 'EXP Flag',
       'Met Bid Due Date', 'PR Utilities', 'Lead Time', 'Days to Bid Due Date',
       'Revision 1 Created', 'Gather Usage Created', 'Gather Usage Status',
       'Gather Usage Completed', 'Load Analytic Created',
       'Load Analytic Status', 'Load Analytic Completed',
       'Sales Response Created', 'Sales Response Status',
       'Sales Response Completed', 'MML validated Date', 'Load Data Created',
       'Load Data Status', 'Load Data Completed', 'Escalation Started',
       'Escalation Status', 'Escalation Completed', 'Initial Pricing Started',
       'Initial Pricing Status', 'Initial Pricing Completed', 'ATCV',
       'Total Meter ID Count', 'Count of HU Requested',
       'Count of HU Data Received', 'Count of HI Requested',
       'Count of HI Data Received', 'KAG Rep', 'Annual Volume',
       'Tracker Status'],
      dtype='object')

## LSPROCESS

Try basic LSPROCESS commands for TPPE.

In [17]:
delete = "delete from LSPROCESS;"

select = "select * from LSPROCESS;"

data_dict = {'key' : 'account', 'value' : 'NEPOOL_MECO_2542918027'}
insert_p = "INSERT INTO LSPROCESS(PROCESSNAME) VALUEs ('{}')".format(data_dict['value'])

data_dict = {'key' : 'NEPOOL_MECO_2542918027', 'value' : '370'}
insert_pv = "INSERT INTO LSPROCESS(PROCESSNAME, DESCRIPTION) VALUES ('{}', '{}');".format(data_dict['key'], data_dict['value'])

In [22]:
db.OracleAPI(insert_pv, 'tppe')

DatabaseError: ORA-00933: SQL command not properly ended